<div>
    <h3 ng-show="vm.isAuthorized">Welcome {{vm.user}}</h3>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Assigned Consultants</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group" ng-repeat="consultant in vm.consultantList">
                <li class="list-group-item"><a href="#">{{consultant.name}}</a></li>
            </ul>
        </div>
        <div class="panel-footer text-right"><a href="#">More...</a></div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Positions</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group" ng-repeat="position in vm.positionsList">
                <li class="list-group-item"><a href="#">{{position.description}}</a></li>
            </ul>
        </div>
        <div class="panel-footer text-right"><a href="#">More...</a></div>
    </div>
</div>